@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: rgb(45, 74, 128);
    --secondary-color: rgb(182, 76, 27);
    --grayscale: rgb(226, 218, 218);
    --friendly: green;
    --neutral: blue;
    --warning: yellow;
    --danger: crimson;
    --forbidden: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 3.75rem;
}
.flex-vcentered {
    @apply flex items-center;
}

.nav-items-between {
    @apply justify-between;
}

.brand {
    width: 10rem;
    max-width: 12rem;
    color: var(--primary-color);
    @apply text-5xl my-2 mx-5;
}

.nav-left {
    @apply justify-start;
}

.nav-right {
    @apply justify-end;
}

.nav-item {
    margin: 0 2rem;
    @apply flex w-full lg:w-auto;
}

.burger-menu {
    width: 8rem;
    max-width: 10rem;
    border: 2px solid blueviolet;
}

.nav-items-top {
    margin: 0;
    top: 3.75rem;
    left: 0;
}

.nav-items-link {
    @apply flex w-full lg:w-auto;
}